.TodoApp {
	height: 100vh;
	overflow: hidden;
	width: 100vw;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(
		315deg,
		rgba(148, 117, 197, 1) 0%,
		rgba(97, 152, 211, 1) 100%
	);
}
@media screen and (max-width: 43rem) {
	html {
		font-size: 10px;
	}
}
.credit {
	margin-top: auto;
}
.credit a {
	color: blue;
}
