.TodoList {
	width: 70%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 1rem;
}
.TodoList::-webkit-scrollbar {
	display: none;
}
.Todo {
	border: 2px solid black;
	height: 7vh;
	display: flex;
	align-items: center;
	margin: 1rem 0;
	width: 100%;
	font-weight: 500;
	box-shadow: 0 10px 10px -5px black;
	font-size: 1.3rem;
	background: linear-gradient(
		90deg,
		rgba(191, 87, 133, 1) 0%,
		rgba(16, 65, 123, 1) 100%
	);
	color: white;
	border-radius: 0.2rem;
}
.Todobox {
	margin: 1rem;
	transition: 0.3s ease-in-out;
}
.Todobox:hover {
	color: aqua;
	transform: scale(1.3);
}
.TodoEdit {
	margin-left: auto;
	transition: 0.3s ease-in-out;
}
.TodoTrash:hover {
	transform: scale(1.3);
	color: red;
	cursor: pointer;
}
.TodoEdit:hover {
	transform: scale(1.3);
	color: green;
	cursor: pointer;
}
.TodoTrash {
	transition: 0.3s ease-in-out;
	margin: 1rem;
}
.checked {
	color: aqua;
}

.complete {
	text-decoration: line-through;
	color: gray;
}
